@tailwind base;
@tailwind components;
@tailwind utilities;

.ht {
    color: darkred;
    font-weight: 600;
    font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
}

.hst {
    color: darkred;
    font-size: .8rem;
    font-weight: 700;
}

.hst2 {
    color: black;
    font-size: .8rem;
    font-weight: 700;
}

.hb {
    color: darkred;
    font-size: .8rem;
}

.hb2 {
    color: black;
    font-size: .8rem;
}