@tailwind base;
@tailwind components;
@tailwind utilities;

label {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

button {
    padding: 0.5rem 1rem;
}

select {
    padding: 0.2rem;
}

textarea {
    padding: 0.2rem;
}

.ht {
    color: darkred;
    font-weight: 600;
    font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
}

.hst {
    color: darkred;
    font-size: .8rem;
    font-weight: 700;
}

.hst2 {
    color: black;
    font-size: .8rem;
    font-weight: 700;
}

.hb {
    color: darkred;
    font-size: .8rem;
}

.hb2 {
    color: black;
    font-size: .8rem;
}